Evenements
<ul id="navigation">
  <li><a href="{{ path('dreamhotel_accueil') }}" title="aller à la section 6">Accueil</a></li>  
  <li><a href="{{ path('dreamhotel_chambres') }}" title="aller à la section 1">Chambres</a></li>
  <li><a href="{{ path('dreamhotel_salles') }}" title="aller à la section 2">Salles</a></li>
  <li><a href="{{ path('dreamhotel_activites') }}" title="aller à la section 3">Activités</a></li>
  <li><a href="#" title="aller à la section 4">Evenements</a></li>
  <li><a href="{{ path('dreamhotel_reserver') }}" title="aller à la section 5">Reserver</a></li>
  <li><a href="{{ path('dreamhotel_compte') }}" title="creation du compte">Creer Compte</a></li>
</ul>