Logo dreamHotel
<style>
    #menu, #menu ul  

{

        padding : 0; /* pas de marge intérieure */

        margin : 0; /* ni extérieure */
        
       /* margin-right: auto;
        
        margin-left: auto;*/

        list-style : none; /* on supprime le style par défaut de la liste */

        line-height : 21px; /* on définit une hauteur pour chaque élément */

        text-align : center; /* on centre le texte qui se trouve dans la liste */
        
        

}


#menu

{

        font-weight : bold; 

        font-family : Arial; 

        font-size : 12px; 
        
        margin-right: auto;
            
        margin-left: auto;
        
        width:1050px;

}


#menu a /* Contenu des listes */

{

        display : block; 

        padding : 0; 

        background : #000;  

        color : #fff; 

        text-decoration : none; 

        width : 144px; 

}


#menu li 

{ 

        float : left; 

       

        border-right : 1px solid #fff; 
}




html>body #menu li

{

        border-right: 1px solid transparent ;

}


#menu li ul 

{ 

        position: absolute; 
        width: 144px; 

        left: -999em;

}



#menu li ul li 

{

        

        border-top : 1px solid #fff; 

}


/* IE ne reconnaissant pas le sélecteur ">" */

html>body #menu li ul li                

{

        border-top : 1px solid transparent; 

}


#menu li ul ul 

{

        margin    : -22px 0 0 144px ; 

        border-left     : 1px solid #fff ; /* Petite bordure à gauche pour ne pas coller ... */      

}




html>body #menu li ul ul                

{

        border-left     : 1px solid transparent ; /* on met une bordure transparente sur la gauche de chaque élément */

}
#creercompte
{
    margin-left:25%;
}
</style>
<ul id="menu">
  <li><a href="{{ path('dreamhotel_accueil') }}" title="aller à la section 6">Accueil</a></li>  
  <li><a href="{{ path('dreamhotel_chambres') }}" title="aller à la section 1">Chambres</a></li>
  <li><a href="{{ path('dreamhotel_salles') }}" title="aller à la section 2">Salles</a></li>
  <li><a href="{{ path('dreamhotel_activites') }}" title="aller à la section 3">Activités</a></li>
  <li><a href="{{ path('dreamhotel_evenements') }}" title="aller à la section 4">Evenements</a></li>
  <li><a href="{{ path('dreamhotel_reserver') }}" title="aller à la section 5">Reserver</a></li>
  <li><a href="#">Compte</a></li>
</ul>
  </br>
<div id="creercompte">  
  <h5>Identifiant</h5>
  {{ form_widget(form.id) }}
  <h5>Mot de passe</h5>
{{ form_widget(form.mdp) }}
<h5>Prenom</h5>
  {{ form_widget(form.prenom) }}
  <h5>Nom de famille</h5>
  {{ form_widget(form.nom) }}
  <h4>Lieu de résidence</h4>
  <h5>Rue</h5>
  {{ form_widget(form.rue) }}
  <h5>Ville</h5>
  {{ form_widget(form.ville) }}
  
  </br>
  </br>

<form action="">

    {{ form_widget(form.save) }}

</form>

  
  <h4>vous avez deja un compte <a href="{{ path('dreamhotel_compte') }}">cliquez ici</a></h4>
</div>  